<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Fewer</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          Fewer Example Blog
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item">
            Home
          </a>

          <a href="/posts" class="navbar-item">
            Posts
          </a>

          <a href="/users" class="navbar-item">
            Users
          </a>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="/signup" class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a href="/login" class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">{{{ body }}}</div>
    </section>
  </body>
</html>
